/* --------------------NAVBAR--------------------- */

.navbar_container {
  position: absolute;
  width: 1281px;
  height: 71px;
  /* left: 0px; */
  top: 0px;
  background: #000000;
}

.vector1 {
  position: absolute;
  left: 35.1%;
  right: 41.19%;
  top: -0.74%;
  bottom: 16.88%;

  color: #ffffff;
  /* transform: rotate(9.5deg); */
}

.link_create {
  position: absolute;
  width: 94px;
  height: 14px;
  left: 1005px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* BLUE */

  color: #1b4db1;
}

.link_login {
  position: absolute;
  width: 34px;
  height: 14px;
  left: 1135px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;
}

.link_signup {
  position: absolute;
  width: 42px;
  height: 14px;
  left: 1187px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;
}

/* --------------------HEADER--------------------- */

.header_img {
  position: absolute;
  width: 1280px;
  height: 488px;
  left: calc(50% - 1280px / 2);
  top: calc(50% - 488px / 2);

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.header_title {
  position: absolute;
  width: 220px;
  left: 41.5%;
  top: 25.61%;
  bottom: 30.43%;
}

.header_search {
  height: 46px;
  border-radius: 23px;
  position: absolute;
  width: 465px;
  left: 33%;
  top: 60.61%;
  bottom: 30.43%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #555a88;
  padding: 7px 15px;
  border: 1px solid #ccc;
  font-weight: 300;
  cursor: pointer;
}

.btn_marcas {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 19px;
  gap: 10px;

  position: absolute;
  width: 138px;
  height: 30px;
  left: 470px;
  top: 455px;

  background: #ffffff;
  /* GRAY */

  border: 1px solid #a7a6a7;
  border-radius: 23px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  /* GRAY */

  color: #a7a6a7;
}

.btn_artistas {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 19px;
  gap: 10px;

  position: absolute;
  width: 159px;
  height: 30px;
  left: 630px;
  top: 455px;

  background: #ffffff;
  /* GRAY */

  border: 1px solid #a7a6a7;
  border-radius: 23px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  /* GRAY */

  color: #a7a6a7;
}

.btn_torneos {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 19px;
  gap: 10px;

  position: absolute;
  width: 86px;
  height: 30px;
  left: 805px;
  top: 455px;

  background: #ffffff;
  /* GRAY */

  border: 1px solid #a7a6a7;
  border-radius: 23px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  /* GRAY */

  color: #a7a6a7;
}

.btn_torneos:hover {
  transform: scale(1.1);
  transition: transform 100ms ease;
}
.btn_artistas:hover {
  transform: scale(1.1);
  transition: transform 100ms ease;
}
.btn_marcas:hover {
  transform: scale(1.1);
  transition: transform 100ms ease;
}

@media (max-width: 370px) {
  .header_img {
    position: absolute;
    width: 370px;
    height: 480px;
    left: 0px;
    top: 71px;
  }

  .header_title {
    position: absolute;
    width: 100px;
    left: -20%;
    top: 25.61%;
    bottom: 36.43%;
  }

  .header_search {
    height: 46px;
    width: 360px;
    left: -50px;
    top: 50px;
  }

  .btn_marcas {
    height: 30px;
    width: 128px;
    left: 20px;
    top: 454px;
    border-radius: 23px;
    padding: 15px 19px 15px 19px;
  }

  .btn_artistas {
    height: 30px;
    width: 147px;
    left: 157px;
    top: 454px;
    border-radius: 23px;
    padding: 15px 19px 15px 19px;
  }

  .btn_torneos {
    height: 30px;
    width: 80px;
    left: 314px;
    top: 454px;
    border-radius: 23px;
    padding: 15px 19px 15px 19px;
  }
}

/* .btn_torneos:hover {
    transform: scale(1.1);
    transition: transform 100ms ease;
  }
  .btn_artistas:hover {
    transform: scale(1.1);
    transition: transform 100ms ease;
  }
  .btn_marcas:hover {
    transform: scale(1.1);
    transition: transform 100ms ease;
  } */

/* --------------FOOTER------------------------ */

.footer_img {
  position: absolute;
  width: 1280px;
  height: 488px;
  left: calc(50% - 1280px / 2);
  top: 100%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  /* url(queretaro6.jpg); */
}

.footer_title {
  height: 46px;
  width: 465px;
  left: 0px;
  top: 0px;
  border-radius: 23px;
  position: absolute;
  width: 465px;
  left: 35%;
  top: 150%;
  bottom: 30.43%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  /* GRAY */

  color: #a7a6a7;
}
