/* --------------------NAVBAR--------------------- */

.navbar_container {
  position: absolute;
  width: 1281px;
  height: 71px;
  /* left: 0px; */
  top: 0px;
  background: #000000;
}

.vector1 {
  position: absolute;
  left: 35.1%;
  right: 41.19%;
  top: -0.74%;
  bottom: 16.88%;

  color: #ffffff;
  /* transform: rotate(9.5deg); */
}

.link_create {
  position: absolute;
  width: 94px;
  height: 14px;
  left: 1005px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* BLUE */

  color: #1b4db1;
}

.link_login {
  position: absolute;
  width: 34px;
  height: 14px;
  left: 1135px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;
}

.link_signup {
  position: absolute;
  width: 42px;
  height: 14px;
  left: 1187px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;
}

/* --------------------HEADER--------------------- */

.header_img {
  position: absolute;
  width: 1280px;
  height: 488px;
  left: calc(50% - 1280px / 2);
  top: calc(50% - 488px / 2);

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.header_title {
  position: absolute;
  width: 220px;
  left: 41.5%;
  top: 25.61%;
  bottom: 30.43%;
}

.header_search {
  height: 46px;
  border-radius: 23px;
  position: absolute;
  width: 465px;
  left: 33%;
  top: 65.61%;
  /* bottom: 30.43%; */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #555a88;
  padding: 7px 15px;
  /* border: 1px solid #ccc; */
  font-weight: 300;
  cursor: pointer;
}
.btn_search {
  height: 46px;
  border-radius: 23px;
  position: absolute;
  width: 465px;
  left: 33%;
  top: 75.61%;
  /* bottom: 30.43%; */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: #555a88;
  padding: 7px 15px;
  /* border: 1px solid #ccc; */
  font-weight: 300;
  cursor: pointer;
}

/* --------------FOOTER------------------------ */

.footer {
  width: 1280px;
  height: 488px;
}

.footer_title {
  height: 46px;
  width: 465px;
  border-radius: 23px;
  position: absolute;
  width: 465px;
  left: 30%;
  top: 500%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  /* GRAY */

  color: #a7a6a7;
}
